/.env
/dist
/elm-stuff
/tests/elm-stuff
/node_modules
/public/app.js
/public/icomoon/*.txt
/public/icomoon/*.zip
/public/icomoon/demo-files
/public/icomoon/demo-files
/public/icomoon/demo.html
/public/main.css
/public/main.css.map
/server-app.js
/src/Static/Db.elm
/xls
/public/version.json
/.parcel-cache/
.DS_Store