/.env
dist
elm-stuff
/db_test.sqlite3
/check-db-app.js
/compute-aggregated-app.js
node_modules
/public/app.js
/public/icomoon/*.txt
/public/icomoon/*.zip
/public/icomoon/demo-files
/public/icomoon/demo-files
/public/icomoon/demo.html
/public/main.css
/public/main.css.map
/server-app.js
/src/Static/Json.elm
/xls
/public/version.json
/.parcel-cache/

.vscode
*.pyc
.DS_Store
processes-no-impacts.json
venv
db.sqlite3

*.egg-info
/versions
/git_build

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Scalingo logs
/archives_logs/
