public/data/processes_impacts.json filter=git-crypt diff=git-crypt merge=git-crypt
data/lci_catalog/** filter=git-crypt diff=git-crypt merge=git-crypt
data/export/** filter=git-crypt diff=git-crypt merge=git-crypt
