*.md
elm.json
package-lock.json
package.json
tests/e2e-textile.json
tests/e2e-food.json
public/icomoon/*
public/vendor/*
styles.scss
tests/e2e-*-output.json
dist/
Pipfile.lock
.proxyrc.json
*.yml
*.yaml
.prettierrc
*.html
