openapi: 3.0.1
info:
  title: API Ecobalyse
  description: L'API HTTP Ecobalyse permet de calculer les impacts environnementaux des produits textiles.
  version: 0.0.1-alpha
externalDocs:
  description: Visiter le site
  url: https://ecobalyse.beta.gouv.fr
servers:
- url: https://ecobalyse.beta.gouv.fr/api
tags:
- name: Commun
  description: Documentation de l'API multi-domaines au format OpenAPI
  externalDocs:
    description: À propos
    url: https://fabrique-numerique.gitbook.io/ecobalyse
- name: Textile
  description: Documentation de l'API pour le domaine textile au format OpenAPI
  externalDocs:
    description: À propos
    url: https://fabrique-numerique.gitbook.io/ecobalyse
- name: Alimentaire
  description: |
    Documentation de l'API pour le domaine alimentaire au format OpenAPI

    **⚠️ En construction, les résultats fournis sont incomplets et probablement invalides.**
  externalDocs:
    description: À propos
    url: https://fabrique-numerique.gitbook.io/ecobalyse
paths:
  /:
    get:
      tags:
      - Commun
      summary: Documentation OpenAPI de l'API
      description: Sert la documentation de l'API au format [OpenAPI](https://swagger.io/specification/)
      responses:
        200:
          description: Documentation de l'API au format OpenAPI.
  /countries:
    get:
      tags:
      - Commun
      summary: Liste des pays
      responses:
        200:
          description: Opération réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryListResponse'
  /materials:
    get:
      tags:
      - Textile
      summary: Liste des matières textile
      responses:
        200:
          description: Opération réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaterialListResponse'
  /products:
    get:
      tags:
      - Textile
      summary: Liste des types de produits textiles
      responses:
        200:
          description: Opération réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
  /simulator:
    get:
      tags:
      - Textile
      summary: Calcul des impacts environnementaux d'un produit textile
      parameters:
      - $ref: '#/components/parameters/massParam'
      - $ref: '#/components/parameters/materialsParam'
      - $ref: '#/components/parameters/productParam'
      - $ref: '#/components/parameters/countryFabricParam'
      - $ref: '#/components/parameters/countryDyeingParam'
      - $ref: '#/components/parameters/countryMakingParam'
      - $ref: '#/components/parameters/countrySpinningParam'
      - $ref: '#/components/parameters/airTransportRatioParam'
      - $ref: '#/components/parameters/qualityParam'
      - $ref: '#/components/parameters/reparabilityParam'
      - $ref: '#/components/parameters/makingWasteParam'
      - $ref: '#/components/parameters/pickingParam'
      - $ref: '#/components/parameters/surfaceMassParam'
      - $ref: '#/components/parameters/disabledFadingParam'
      - $ref: '#/components/parameters/disabledStepsParam'
      - $ref: '#/components/parameters/dyeingMediumParam'
      - $ref: '#/components/parameters/printingParam'
      responses:
        200:
          description: Opération réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericImpactsResponse'
        400:
          description: Paramètres invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersError'
  /simulator/{impact}:
    get:
      tags:
      - Textile
      summary: Calcul d'un impact environnemental spécifique d'un produit textile
      parameters:
      - name: impact
        in: path
        description: |
          Trigramme de l'impact étudié ([la liste est documenté ici](https://fabrique-numerique.gitbook.io/ecobalyse/methodologie/impacts-consideres))
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 3
          default: "cch"
          enum:
          - "acd"
          - "ozd"
          - "cch"
          - "fwe"
          - "swe"
          - "tre"
          - "pco"
          - "pma"
          - "ior"
          - "fru"
          - "mru"
          - "ldu"
          - "wtu"
          - "pef"
      - $ref: '#/components/parameters/massParam'
      - $ref: '#/components/parameters/materialsParam'
      - $ref: '#/components/parameters/productParam'
      - $ref: '#/components/parameters/countryFabricParam'
      - $ref: '#/components/parameters/countryDyeingParam'
      - $ref: '#/components/parameters/countryMakingParam'
      - $ref: '#/components/parameters/countrySpinningParam'
      - $ref: '#/components/parameters/airTransportRatioParam'
      - $ref: '#/components/parameters/qualityParam'
      - $ref: '#/components/parameters/reparabilityParam'
      - $ref: '#/components/parameters/makingWasteParam'
      - $ref: '#/components/parameters/pickingParam'
      - $ref: '#/components/parameters/surfaceMassParam'
      - $ref: '#/components/parameters/disabledFadingParam'
      - $ref: '#/components/parameters/disabledStepsParam'
      - $ref: '#/components/parameters/dyeingMediumParam'
      - $ref: '#/components/parameters/printingParam'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleImpactResponse'
        400:
          description: Paramètres invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersError'
  /simulator/detailed:
    get:
      tags:
      - Textile
      summary: Calcul exhaustif des impacts environnementaux d'un produit textile
      description: L'intégralité des calculs intermédiaires sont présentés dans une réponse détaillée
      parameters:
      - $ref: '#/components/parameters/massParam'
      - $ref: '#/components/parameters/materialsParam'
      - $ref: '#/components/parameters/productParam'
      - $ref: '#/components/parameters/countryFabricParam'
      - $ref: '#/components/parameters/countryDyeingParam'
      - $ref: '#/components/parameters/countryMakingParam'
      - $ref: '#/components/parameters/countrySpinningParam'
      - $ref: '#/components/parameters/airTransportRatioParam'
      - $ref: '#/components/parameters/qualityParam'
      - $ref: '#/components/parameters/reparabilityParam'
      - $ref: '#/components/parameters/makingWasteParam'
      - $ref: '#/components/parameters/pickingParam'
      - $ref: '#/components/parameters/surfaceMassParam'
      - $ref: '#/components/parameters/disabledFadingParam'
      - $ref: '#/components/parameters/disabledStepsParam'
      - $ref: '#/components/parameters/dyeingMediumParam'
      - $ref: '#/components/parameters/printingParam'
      responses:
        200:
          description: Opération réussie
          content:
            application/json:
              schema:
                type: object
        400:
          description: Paramètres invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersError'
  /food/ingredients:
    get:
      tags:
      - Alimentaire
      summary: Liste des ingrédients disponibles pour élaborer une recette
      responses:
        200:
          description: Opération réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngredientListResponse'
  /food/transforms:
    get:
      tags:
      - Alimentaire
      summary: Liste des procédés de transformation alimentaire
      responses:
        200:
          description: Opération réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformListResponse'
  /food/packagings:
    get:
      tags:
      - Alimentaire
      summary: Liste des emballages disponibles pour conditionner une recette
      responses:
        200:
          description: Opération réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackagingListResponse'
  /food/recipe:
    get:
      tags:
      - Alimentaire
      summary: Calcul des impacts environnementaux d'une recette alimentaire
      parameters:
      - $ref: '#/components/parameters/ingredientsParam'
      - $ref: '#/components/parameters/transformParam'
      - $ref: '#/components/parameters/packagingParam'
      responses:
        200:
          description: Opération réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipeResultsResponse'
        400:
          description: Paramètres invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersError'
components:
  parameters:
    massParam:
      name: mass
      in: query
      description: Masse du produit fini, **exprimée en kilogrammes**
      required: true
      style: form
      schema:
        type: number
        minimum: 0.01
      example: 0.17
    materialsParam:
      name: "materials[]"
      in: query
      description: |
        Liste des matières composant le produit (liste disponible sur le point d'entrée `/materials`).
        Le format de chaque entrée est composé de l'identifiant de la matière et de la part du produit
        qu'elle représente :

        - `coton;0.3` signifie *30% coton*;
        - `coton-rdp;0.7` signifie *70% coton recyclé (déchets de production)*;

        > Par exemple, les paramètres à passer pour un t-shirt 30% coton, 30% coton recyclé et 40% acrylique sont :
        >
        > ```js
        > materials[]=coton;0.3&materials[]=coton-rdp;0.3&materials[]=acrylique;0.4
        > ```
      required: true
      style: form
      schema:
        type: array
        items:
          type: string
      examples:
        coton:
          value: ["coton;1"]
        acrylique:
          value: ["coton;0.7", "acrylique;0.3"]
        mixed:
          value: ["coton;0.3", "coton-rdp;0.3", "acrylique;0.4"]
    productParam:
      name: product
      in: query
      description: Identifiant du produit (liste disponible sur le point d'entrée `/products`)
      required: true
      style: form
      schema:
        type: string
      examples:
        tshirt:
          value: "tshirt"
        pantalon:
          value: "pantalon"
    countrySpinningParam:
      name: countrySpinning
      in: query
      description: |
        Code pays pour l'étape de **Filature** (liste disponible sur le point d'entrée `countries`).
        Si non spécifié, le pays de filature pris en considération est celui de production de
        la matière la plus représentée dans le mix.
      required: false
      style: form
      schema:
        type: string
        minLength: 2
        maxLength: 2
      examples:
        Default:
          value: ""
        Chine:
          value: "CN"
        France:
          value: "FR"
    countryFabricParam:
      name: countryFabric
      in: query
      description: |
        Code pays pour l'étape de **Tissage/Tricotage** (liste disponible sur le point d'entrée `countries`)
      required: true
      style: form
      schema:
        type: string
        minLength: 2
        maxLength: 2
      examples:
        Chine:
          value: "CN"
        France:
          value: "FR"
    countryDyeingParam:
      name: countryDyeing
      in: query
      description: "Code pays pour l'étape de **Teinture** (liste disponible sur le point d'entrée `countries`)"
      required: true
      style: form
      schema:
        type: string
        minLength: 2
        maxLength: 2
      examples:
        Chine:
          value: "CN"
        France:
          value: "FR"
    countryMakingParam:
      name: countryMaking
      in: query
      description: "Code pays pour l'étape de **Confection** (liste disponible sur le point d'entrée `countries`)"
      required: true
      style: form
      schema:
        type: string
        minLength: 2
        maxLength: 2
      examples:
        Chine:
          value: "CN"
        France:
          value: "FR"
    airTransportRatioParam:
      name: airTransportRatio
      in: query
      description: |
        Part de **transport aérien** entre l'étape de **Confection** et l'étape de **Distribution**, entre `0` et `1`
      required: false
      style: form
      schema:
        type: number
        minimum: 0
        maximum: 1
    qualityParam:
      name: quality
      in: query
      description: |
        Qualité intrinsèque du produit. Le coefficient de qualité intrinsèque représente à quel point
        le produit va durer dans le temps. Il varie entre 0.67 (peu durable) et 1.45 (très durable).
        Il est calculé à partir du résultat d’une série de tests de durabilité. Il est utilisé en
        coefficient multiplicateur du nombre de jours d’utilisation du produit.
      required: false
      style: form
      schema:
        type: number
        minimum: 0.67
        maximum: 1.45
    reparabilityParam:
      name: reparability
      in: query
      description: |
        Indice de réparabilité du produit. Il varie entre `1.00` (peu réparable) et `1.15` (très réparable).
        Il est utilisé en coefficient multiplicateur du nombre de jours d’utilisation du produit.
      required: false
      style: form
      schema:
        type: number
        minimum: 1
        maximum: 1.15
    makingWasteParam:
      name: makingWaste
      in: query
      description: |
        Taux de perte en confection (incluant la découpe), entre `0` et `0.4`.
      required: false
      style: form
      schema:
        type: number
        minimum: 0
        maximum: 0.25
    pickingParam:
      name: picking
      in: query
      description: |
        Le duitage correspond au nombre de fils de trame (aussi appelés duites) par mètre
        pour un tissu. Ce paramètre est pris en compte car il est connecté avec la
        consommation électrique du métier à tisser. À grammage égal, plus le duitage est
        important, plus la consommation d'électricité est élevée.

        **Attention, ce paramètre est uniquement pris en compte pour les produits tissés**
        et inopérant sur les produits tricotés.
      required: false
      style: form
      schema:
        type: number
        minimum: 800
        maximum: 9000
    surfaceMassParam:
      name: surfaceMass
      in: query
      description: |
        Le grammage de l'étoffe, exprimé en gr/m², représente sa masse surfacique.

        **Attention, ce paramètre est uniquement pris en compte pour les produits tissés**
        et inopérant sur les produits tricotés.
      required: false
      style: form
      schema:
        type: number
        minimum: 30
        maximum: 500
    disabledFadingParam:
      name: disabledFading
      in: query
      description: |
        Désactive l'application du **procédé de délavage** pour l'étape de confection d'un jean (par conséquent inopérant sur d'autres produits).
      required: false
      style: form
      schema:
        type: string
        enum: ["true", "false"]
      examples:
        default:
          value: ""
        enabled:
          value: "true"
        disabled:
          value: "false"
    disabledStepsParam:
      name: disabledSteps
      in: query
      description: |
        Liste des étapes du cycle de vie à désactiver, séparée par des virgules. Chaque étape est identifiée par un code :

        - `material`: Matière
        - `spinning`: Filature
        - `fabric`: Tissage ou Tricotage
        - `making`: Teinture/Ennoblissement
        - `dyeing`: Confection
        - `distribution`: Distribution
        - `use`: Utilisation
        - `eol`: Fin de vie

        Par exemple, pour désactiver l'étape de filature ainsi que celle de teinture, on peut passer `disabledSteps=spinning,dyeing`.
      required: false
      style: form
      schema:
        type: string
      examples:
        default:
          value: ""
        making:
          value: "making"
        spinningDyeing:
          value: "spinning,dyeing"
    dyeingMediumParam:
      name: dyeingMedium
      in: query
      description: |
        Ce paramètre permet de préciser le support sur lequel s'effectue la teinture ; il peut prendre les valeurs
        suivantes :

        - `article` lorsque la teinture est effectuée sur l'article ;
        - `fabric` lorsqu'elle est effectuée sur le tissu ;
        - `yarn` lorsqu'elle est effectuée sur le fil.

        ⚠️ En l'absence d'utilisation explicite du paramètre, le support de teinture utilisé sera celui affecté par
        défaut à la famille de produit.
      required: false
      style: form
      schema:
        type: string
      examples:
        default:
          summary: "par défaut, sur tissu"
          value: ""
        surArticle:
          summary: "sur article"
          value: "article"
        surTissu:
          summary: "sur tissu"
          value: "fabric"
        surFil:
          summary: "sur fil"
          value: "yarn"
    printingParam:
      name: printing
      in: query
      description: |
        Ce paramètre permet de préciser le type d'impression effectuée sur le produit ; il peut prendre les valeurs
        suivantes :

        - `pigment` pour une impression pigmentaire ;
        - `substantive` pour une impression fixé/lavé ;
      required: false
      style: form
      schema:
        type: string
      examples:
        default:
          summary: "Aucune impression"
          value: ""
        pigment:
          summary: "Pigmentaire"
          value: "pigment"
        substantive:
          summary: "Fixé/Lavé"
          value: "substantive"
    ingredientsParam:
      name: "ingredients[]"
      in: query
      description: |
        Liste des ingrédients composant la recette (liste disponible sur le point d'entrée `/food/ingredients`).
        Le format de chaque entrée est composé de l'identifiant de la matière et de sa masse **exprimée en grammes** :

        - `2e3f03c6de1e43900e09ae852182e9c7;268` signifie *268g de mozzarella ("Mozzarella cheese, from cow's milk, at plant")*;
        - `83da330027d4b25dbc7817f06b738571;30` signifie *30g d'huile d'olive* ("Olive oil, at plant");

        > Par exemple, les paramètres à passer pour une recette à base de 268g de mozzarella et 30g d'huile d'olive sont :
        >
        > ```js
        > ingredients[]=2e3f03c6de1e43900e09ae852182e9c7;268&ingredients[]=83da330027d4b25dbc7817f06b738571;30
        > ```
      required: true
      style: form
      schema:
        type: array
        items:
          type: string
      examples:
        oneIngredient:
          summary: Mozzarella
          value: ["2e3f03c6de1e43900e09ae852182e9c7;268"]
        twoIngredients:
          summary: Mozzarella, Olive Oil
          value: ["2e3f03c6de1e43900e09ae852182e9c7;268", "83da330027d4b25dbc7817f06b738571;30"]
        threeIngredients:
          summary: Mozzarella, Olive Oil, Tuna
          value: ["2e3f03c6de1e43900e09ae852182e9c7;268", "83da330027d4b25dbc7817f06b738571;30", "568c715f977f32948813855d5efd95ba;149"]
    packagingParam:
      name: "packaging[]"
      in: query
      description: |
        Liste des emballages composant la recette (liste disponible sur le point d'entrée `/food/packaging`).

        Le format de chaque entrée est composé de l'identifiant de l'emballage et de sa masse **exprimée en grammes**.
      required: true
      style: form
      schema:
        type: array
        items:
          type: string
      examples:
        onePackaging:
          summary: "105g de Carton"
          value: ["23b2754e5943bc77916f8f871edc53b6;105"]
    transformParam:
      name: transform
      in: query
      description: |
        Identifiant du procédé de transformation (optionnel — liste disponible sur le point d'entrée `/food/transforms`)

        Le format est composé de l'identifiant de l'emballage et de sa masse **exprimée en grammes**.
        Par exemple: `aded2490573207ec7ad5a3813978f6a4;1000` pour 1kg de matière à cuire.
      required: false
      style: form
      schema:
        type: string
        minLength: 32
        maxLength: 32
      examples:
        Default:
          summary: "Aucune transformation"
          value: ""
        Cuisson:
          summary: Cuisson d'1kg de matière
          value: "aded2490573207ec7ad5a3813978f6a4;1000"
  schemas:
    Impacts:
      type: object
      properties:
        acd:
          type: number
          description: "Acidification (mol éq. H+)"
        ozd:
          type: number
          description: "Appauvrissement de la couche d'ozone (kg éq. CFC 11)"
        cch:
          type: number
          description: "Changement climatique (kg éq. CO2)"
        fwe:
          type: number
          description: "Eutrophisation eaux douces (kg éq. P)"
        swe:
          type: number
          description: "Eutrophisation marine (kg éq. N)"
        tre:
          type: number
          description: "Eutrophisation terrestre (mol éq. N)"
        pco:
          type: number
          description: "Formation d'ozone photochimique (kg éq. COVNM)"
        pma:
          type: number
          description: "Particules (incidence de maladie)"
        ior:
          type: number
          description: "Radiations ionisantes (éq. kBq U235)"
        fru:
          type: number
          description: "Utilisation de ressources fossiles (MJ)"
        mru:
          type: number
          description: "Utilisation de ressources minérales et métalliques (kg éq. Sb)"
        ldu:
          type: number
          description: "Utilisation des sols (sans dimension (pt))"
        wtu:
          type: number
          description: "Utilisation de ressources en eau (m³)"
        pef:
          type: number
          description: "Score PEF (µPt)"
    InvalidParametersError:
      type: object
      properties:
        error:
          type: array
          description: Description de l'erreur de validation des paramètres fournis
          items:
            type: string
        documentation:
          type: string
          description: "Lien hypertexte vers la documentation de l'API"
    CountryListResponse:
      type: array
      description: Liste des pays
      items:
        type: object
        properties:
          code:
            type: string
          name:
            type: string
    MaterialListResponse:
      type: array
      description: Liste des matières
      items:
        type: object
        properties:
          uuid:
            type: string
          name:
            type: string
    ProductListResponse:
      type: array
      description: Liste des types de produits
      items:
        type: object
        properties:
          id:
            type: string
          name:
            type: string
    RecipeResultsResponse:
      type: object
      description: |
        Recipe impact results.
      properties:
        results:
          type: object
          properties:
            impacts:
              $ref: '#/components/schemas/Impacts'
    GenericImpactsResponse:
      type: object
      description: |
        Impacts environnementaux exprimés dans leurs unités respectives, dont
        [la documentation est disponible ici](https://fabrique-numerique.gitbook.io/ecobalyse/methodologie/impacts-consideres).
      properties:
        impacts:
          $ref: '#/components/schemas/Impacts'
        description:
          type: string
          description: Une description de la simulation.
        query:
          type: object
          description: Le jeu de paramètres utilisé pour effectuer la simulation.
    SingleImpactResponse:
      type: object
      properties:
        impacts:
          type: object
          properties:
            "{impact}":
              type: number
              description: Valeur de l'impact recherché
        description:
          type: string
          description: Une description de la simulation.
        query:
          type: object
          description: Le jeu de paramètres utilisé pour effectuer la simulation.
    IngredientListResponse:
      type: array
      description: Liste des ingrédients utilisables dans une recette
      items:
        type: object
        properties:
          code:
            type: string
          name:
            type: string
    PackagingListResponse:
      type: array
      description: Liste des emballages utilisables pour conditionner une recette
      items:
        type: object
        properties:
          code:
            type: string
          name:
            type: string
    TransformListResponse:
      type: array
      description: Liste des procédés de transformation utilisables pour une recette
      items:
        type: object
        properties:
          code:
            type: string
          name:
            type: string
