openapi: 3.0.1
info:
  title: API Wikicarbone
  description: L'API HTTP Wikicarbone permet de calculer les impacts environnementaux des produits textiles.
  version: 0.0.1-alpha
externalDocs:
  description: Visiter le site
  url: https://wikicarbone.beta.gouv.fr
servers:
- url: https://wikicarbone.beta.gouv.fr/api
tags:
- name: Racine
  description: Documentation de l'API au format OpenAPI
- name: Simulateur
  description: Impact environnemental de produits textiles
  externalDocs:
    description: À propos
    url: https://fabrique-numerique.gitbook.io/wikicarbone
paths:
  /:
    get:
      tags:
      - Racine
      summary: Racine de l'API
      description: Sert la documentation de l'API au format [OpenAPI](https://swagger.io/specification/)
      responses:
        200:
          description: Documentation de l'API au format OpenAPI.

  /products:
    get:
      tags:
      - Product
      summary: Récupérer la liste des types de produits textiles
      responses:
        200:
          description: Opération réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
  /simulator:
    get:
      tags:
      - Simulateur
      summary: Calculer les impacts environnementaux d'un produit textile
      parameters:
      - $ref: '#/components/parameters/massParam'
      - $ref: '#/components/parameters/materialParam'
      - $ref: '#/components/parameters/productParam'
      - $ref: '#/components/parameters/countryFabricParam'
      - $ref: '#/components/parameters/countryDyeingParam'
      - $ref: '#/components/parameters/countryMakingParam'
      - $ref: '#/components/parameters/recycledRatioParam'
      - $ref: '#/components/parameters/dyeingWeightingParam'
      - $ref: '#/components/parameters/airTransportRatioParam'
      - $ref: '#/components/parameters/customCountryMixFabricParam'
      - $ref: '#/components/parameters/customCountryMixDyeingParam'
      - $ref: '#/components/parameters/customCountryMixMakingParam'
      - $ref: '#/components/parameters/qualityParam'
      responses:
        200:
          description: Opération réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleImpactsResponse'
        400:
          description: Paramètres invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersError'
  /simulator/{impact}:
    get:
      tags:
      - Simulateur
      summary: Calculer un impact environnemental spécifique d'un produit textile
      parameters:
      - name: impact
        in: path
        description: Trigramme de l'impact étudié ([la liste est documenté ici](https://fabrique-numerique.gitbook.io/wikicarbone/methodologie/impacts-consideres))
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 3
          default: "cch"
          enum:
          - "acd"
          - "ozd"
          - "cch"
          - "ccb"
          - "ccf"
          - "ccl"
          - "fwe"
          - "swe"
          - "tre"
          - "pco"
          - "pma"
          - "ior"
          - "fru"
          - "mru"
          - "ldu"
          - "pef"
      - $ref: '#/components/parameters/massParam'
      - $ref: '#/components/parameters/materialParam'
      - $ref: '#/components/parameters/productParam'
      - $ref: '#/components/parameters/countryFabricParam'
      - $ref: '#/components/parameters/countryDyeingParam'
      - $ref: '#/components/parameters/countryMakingParam'
      - $ref: '#/components/parameters/recycledRatioParam'
      - $ref: '#/components/parameters/dyeingWeightingParam'
      - $ref: '#/components/parameters/airTransportRatioParam'
      - $ref: '#/components/parameters/customCountryMixFabricParam'
      - $ref: '#/components/parameters/customCountryMixDyeingParam'
      - $ref: '#/components/parameters/customCountryMixMakingParam'
      - $ref: '#/components/parameters/qualityParam'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleImpactResponse'
        400:
          description: Paramètres invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersError'
  /simulator/detailed:
    get:
      tags:
      - Simulateur
      summary: Calcul exhaustif des impacts environnementaux d'un produit textile
      description: L'intégralité des calculs intermédiaires sont présentés dans une réponse détaillée
      parameters:
      - $ref: '#/components/parameters/massParam'
      - $ref: '#/components/parameters/materialParam'
      - $ref: '#/components/parameters/productParam'
      - $ref: '#/components/parameters/countryFabricParam'
      - $ref: '#/components/parameters/countryDyeingParam'
      - $ref: '#/components/parameters/countryMakingParam'
      - $ref: '#/components/parameters/recycledRatioParam'
      - $ref: '#/components/parameters/dyeingWeightingParam'
      - $ref: '#/components/parameters/airTransportRatioParam'
      - $ref: '#/components/parameters/customCountryMixFabricParam'
      - $ref: '#/components/parameters/customCountryMixDyeingParam'
      - $ref: '#/components/parameters/customCountryMixMakingParam'
      - $ref: '#/components/parameters/qualityParam'
      responses:
        200:
          description: Opération réussie
          content:
            application/json:
              schema:
                type: object
        400:
          description: Paramètres invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersError'
components:
  parameters:
    massParam:
      name: mass
      in: query
      description: Masse du produit fini, **exprimée en kilogrammes**
      required: true
      style: form
      schema:
        type: number
        minimum: 0.01
      example: 0.17
    materialParam:
      name: material
      in: query
      description: Identifiant de la matière composant le produit
      required: true
      style: form
      schema:
        type: string
        minLength: 36
        maxLength: 36
      example: "f211bbdb-415c-46fd-be4d-ddf199575b44"
    productParam:
      name: product
      in: query
      description: Identifiant du produit
      required: true
      style: form
      schema:
        type: string
      example: "13"
    countryFabricParam:
      name: countryFabric
      in: query
      description: "Code pays pour l'étape de **Tissage/Tricotage**"
      required: true
      style: form
      schema:
        type: string
        minLength: 2
        maxLength: 2
      example: "CN"
    countryDyeingParam:
      name: countryDyeing
      in: query
      description: "Code pays pour l'étape de **Teinture**"
      required: true
      style: form
      schema:
        type: string
        minLength: 2
        maxLength: 2
      example: "CN"
    countryMakingParam:
      name: countryMaking
      in: query
      description: "Code pays pour l'étape de **Confection**"
      required: true
      style: form
      schema:
        type: string
        minLength: 2
        maxLength: 2
      example: "CN"
    recycledRatioParam:
      name: recycledRatio
      in: query
      description: Part de matière recyclée, entre `0` et `1`
      required: false
      style: form
      schema:
        type: number
        minimum: 0
        maximum: 1
    dyeingWeightingParam:
      name: dyeingWeighting
      in: query
      description: Majoration de l'impact du **procédé de Teinture**, entre `0` et `1`
      required: false
      style: form
      schema:
        type: number
        minimum: 0
        maximum: 1
    airTransportRatioParam:
      name: airTransportRatio
      in: query
      description: Part de **transport aérien** entre l'étape de **Confection** et l'étape de **Distribution**, entre `0` et `1`
      required: false
      style: form
      schema:
        type: number
        minimum: 0
        maximum: 1
    customCountryMixFabricParam:
      name: customCountryMixes[fabric]
      in: query
      description: "Impact du mix énergétique du pays à l'étape de **Tissage/Tricotage**, exprimé en **kg éq. CO2 par KWh**"
      required: false
      style: form
      schema:
        type: number
        minimum: 0
    customCountryMixDyeingParam:
      name: customCountryMixes[dyeing]
      in: query
      description: "Impact du mix énergétique du pays à l'étape de **Teinture**, exprimé en **kg éq. CO2 par KWh**"
      required: false
      style: form
      schema:
        type: number
        minimum: 0
    customCountryMixMakingParam:
      name: customCountryMixes[making]
      in: query
      description: "Impact du mix énergétique du pays à l'étape de **Confection**, exprimé en **kg éq. CO2 par KWh**"
      required: false
      style: form
      schema:
        type: number
        minimum: 0
    qualityParam:
      name: quality
      in: query
      description: Qualité intrinsèque du produit. Le coefficient de qualité intrinsèque représente à quel point le produit va durer dans le temps. Il varie entre 0.67 (peu durable) et 1.45 (très durable). Il est calculé à partir du résultat d’une série de tests de durabilité. Il est utilisé en coefficient multiplicateur du nombre de jours d’utilisation du produit.
      required: false
      style: form
      schema:
        type: number
        minimum: 0.67
        maximum: 1.45
  schemas:
    InvalidParametersError:
      type: object
      properties:
        error:
          type: array
          description: Description de l'erreur de validation des paramètres fournis
          items:
            type: string
        documentation:
          type: string
          description: "Lien hypertexte vers la documentation de l'API"
    ProductListResponse:
      type: array
      description: List des types de produits
      items:
        type: object
        properties:
          id:
            type: string
          name:
            type: string
    MultipleImpactsResponse:
      type: object
      description: "Impacts environnementaux exprimés dans leurs unités respectives, dont [la documentation est disponible ici](https://fabrique-numerique.gitbook.io/wikicarbone/methodologie/impacts-consideres)."
      properties:
        impacts:
          type: object
          properties:
            acd:
              type: number
              description: "Acidification (mol éq. H+)"
            ozd:
              type: number
              description: "Appauvrissement de la couche d'ozone (kg éq. CFC 11)"
            cch:
              type: number
              description: "Changement climatique (kg éq. CO2)"
            ccb:
              type: number
              description: "Changement climatique - Biogénique (kg éq. CO2)"
            ccf:
              type: number
              description: "Changement climatique - Fossile (kg éq. CO2)"
            ccl:
              type: number
              description: "Changement climatique - Usage des sols (kg éq. CO2)"
            fwe:
              type: number
              description: "Eutrophisation eaux douces (kg éq. P)"
            swe:
              type: number
              description: "Eutrophisation marine (kg éq. N)"
            tre:
              type: number
              description: "Eutrophisation terrestre (mol éq. N)"
            pco:
              type: number
              description: "Formation d'ozone photochimique (kg éq. COVNM)"
            pma:
              type: number
              description: "Particules (incidence de maladie)"
            ior:
              type: number
              description: "Radiations ionisantes (éq. kBq U235)"
            fru:
              type: number
              description: "Utilisation de ressources fossiles (MJ)"
            mru:
              type: number
              description: "Utilisation de ressources minérales et métalliques (kg éq. Sb)"
            ldu:
              type: number
              description: "Utilisation des sols (sans dimension (pt))"
            pef:
              type: number
              description: "Score PEF (mPt)"
    SingleImpactResponse:
      type: object
      properties:
        impacts:
          type: object
          properties:
            "{impact}":
              type: number
              description: Valeur de l'impact recherché
