[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=5,<6"
gunicorn = ">=21,<22"
django-mail-auth = ">=3.2,<3.3"
python-decouple = ">=3,<4"
ruff = "*"

[dev-packages]
