@use "sass:math";

// Bootstrap colors
$white: #fff;
$body-color: #111;
$dark: #333;
$primary: #075ea2;
$success: #167d2e;
$danger: #dc3545;
$info: #097182;
$input-border-color: #969696;
$navbar-dark-color: rgba($white, 0.8);
$text-dark: #343a40;
$text-muted: rgb(104, 104, 104);
// Responsive texts
$enable-responsive-font-sizes: true;

// Viewports
$viewport-xs: 320px;
$viewport-sm: 576px;
$viewport-md: 768px;
$viewport-lg: 992px;
$viewport-xl: 1200px;
$viewport-xxl: 1320px;

$enable-cssgrid: true;

$score-letter-A: #018241;
$score-letter-B: #86bc30;
$score-letter-C: #ffcc01;
$score-letter-D: #f08000;
$score-letter-E: #e63f12;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

body {
  @media screen and (max-width: $viewport-sm) {
    font-size: 14px !important;
    select,
    input,
    button,
    .form-control,
    .btn {
      font-size: 14px !important;
    }
  }
}

// Browser Hacks

_::-webkit-full-page-media,
_:future,
:root select {
  // https://browserstrangeness.bitbucket.io/css_hacks.html#safari
  -webkit-appearance: none;
  background-image: url("./public/img/chevron-down.png") !important;
  background-position: right 8px center;
  background-repeat: no-repeat;
  padding-right: 20px;
}

// Fixes a glitch in Chrome with input[number] making the arrows hardly
// actionnable when float numbers are rounded
input[type="number"].no-arrows {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance:textfield;
}

// Force-show number <input/> inc-dec arrows to the left of the field
.incdec-arrows-left {
  display: flex;

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
    margin-left: 4px;
  }
}

.feedback {
  &-valid {
    border-color: $success;
  }

  &-invalid {
    border-color: $danger;
  }
}

.sticky {
  &-sm-top,
  &-md-top,
  &-lg-top,
  &-xl-top {
    position: -webkit-sticky;
  }
}

// Rapidoc overriden styles
// @see https://rapidocweb.com/css-parts.html
rapi-doc::part(section-endpoint-head-path) {
  font-size: 14px;
}

// App styles

body {
  // Note: This is for header and footer to occupy the whole height of the
  // available viewport. Main content area is white background.
  background-color: $dark;
  min-width: 320px;
}

blockquote {
  q {
    font-family: Blanco, Georgia, serif;
    quotes: "“" "”" "‘" "’";
    &::before {
      content: open-quote;
    }
    &::after {
      content: close-quote;
    }
  }
}

.border{
  &-top-sm-0 {
    @media screen and (min-width: $viewport-sm) {
      border-top: 0 !important;
    }
  }
  &-start-sm {
    @media screen and (min-width: $viewport-sm) {
      border-left: 1px solid $border-color !important;
    }
  }
}


.bottomed-paragraphs {
  p:last-child {
    margin-bottom: 0;
  }
}

.inline-paragraphs {
  p {
    display: inline;
  }
}

.bg-primary-gradient {
  background: $primary;
  background: linear-gradient(15deg, #054a80, $primary);
}

.cursor {
  &-help {
    cursor: help;
  }

  &-pointer {
    cursor: pointer;
  }
}

.fs {
  &-7 {
    font-size: 0.85rem;
  }

  &-unit {
    font-size: min(0.7em, 24px);
  }

  &-80p {
    font-size: 80%;
  }
}

.fw {
  &-500 {
    font-weight: 500;
  }
}

.height-auto {
  // This class is to be used to circumvent a bug with Rapidoc where it sets the height of
  // the component parent element to `height: 100vh` for no reason.
  height: auto !important;
}

.invert {
  filter: invert(1);
}

.link {
  &-external:not(.link-external-muted) {
    &::after {
      font-family: "icomoon" !important;
      content: "\e908";
      display: inline-block;
      text-indent: 2px;
      font-size: 0.9em;
      color: currentColor;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      vertical-align: text-top;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  &-email {
    &::before {
      font-family: "icomoon" !important;
      content: "\f0e0";
      display: inline-block;
      text-indent: 2px;
      font-size: 0.9em;
      color: currentColor;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      vertical-align: baseline;
      line-height: 1;
      margin-right: 3px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

.no-outline {
  &:focus, &:active {
    outline: none;
    box-shadow: none;
  }
}

.no-scroll-chaining {
  // Avoid y-scroll chaining
  // @see https://ishadeed.com/article/prevent-scroll-chaining-overscroll-behavior/
  overscroll-behavior-y: contain;
  overflow-y: auto;
}

.overflow {
  &-x-hidden {
    overflow-x: hidden;
  }

  &-y-scroll {
    overflow-y: scroll;
  }
}

.stacked-card {
  > * {
    border-bottom: 0;
    border-radius: 0;
    margin-bottom: 0;
  }

  > :first-child {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  > :last-child {
    border-bottom: 1px solid $border-color;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.text-light-all {
  color: $white;
  a {
    color: $white;
  }
}

.w {
  &-33 {
    width: 33.333333%;
  }
}

.Abbr {
  font-weight: normal;
  cursor: help;
  border-bottom: 1px dashed $primary;
}

.Abcde {
  // playground: https://codepen.io/n1k0/pen/OJwagVv?editors=1100
  $AbcdeStroke: 4px;
  $AbcdeColors: (
    "A": $score-letter-A,
    "B": $score-letter-B,
    "C": $score-letter-C,
    "D": $score-letter-D,
    "E": $score-letter-E
  );

  display: inline-flex;
  margin: 0;
  padding: 0;

  &Letter {
    list-style-type: none;
    font-size: 1em;
    position: relative;
    font-size: 0;

    &:before {
      display: block;
      width: 1.2em;
      height: 1.2em;
      border: $AbcdeStroke solid grey;
      border-radius: 50%;
      background-color: #fff;
      color: grey;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2em;
      margin: 0 auto;
      text-align: center;
      opacity: 0;
    }

    &:after {
      // horizontal bar
      width: 100%;
      height: $AbcdeStroke;
      content: "";
      position: absolute;
      background-color: #333;
      top: 14px;
      z-index: -1;
    }

    @each $letter, $color in $AbcdeColors {
      &#{$letter} {
        &:before {
          content: $letter;
          border-color: $color;
          color: $color;
        }
        &:after {
          background-color: $color;
        }
      }
    }

    &Active {
      &:before {
        opacity: 1;
      }
      &:after {
        display: none;
      }
    }
  }
}

.AccordionButton {
  min-height: 70px;
}

.Chevrons {
  $chevrons-radius: 4px;
  $chevrons-size: 12px;
  font-size: 0.85em;
  font-weight: bold;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  li {
    display: inline-block;
    line-height: $chevrons-size;
    margin-right: 3px;
    position: relative;
    padding: math.div($chevrons-size, 2);

    span {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 16vw;
    }

    @media screen and (max-width: $viewport-xl) {
      span {
        font-size: $chevrons-size;
      }
    }

    &:before,
    &:after {
      position: absolute;
      right: 100%;
      content: "";
      top: 0;
      bottom: 0;
      border-style: solid;
      border-color: red; // remove me or adapt
      border-width: $chevrons-size 0 $chevrons-size math.div($chevrons-size, 2);
    }

    &:nth-child(odd) {
      background: $white;
      color: $primary;
      &:before {
        background: $primary;
        border-color: $primary;
        border-left-color: transparent;
      }
      &:after {
        background: $white;
        border-color: transparent;
        border-left-color: $primary;
      }
    }

    &:nth-child(even) {
      background: $primary;
      color: $white;
      &:before {
        background: $white;
        border-color: $white;
        border-left-color: transparent;
      }
      &:after {
        background: $primary;
        border-color: transparent;
        border-left-color: $white;
      }
    }

    &:first-child {
      &:before,
      &:after {
        content: none;
      }
      border-bottom-left-radius: $chevrons-radius;
      border-top-left-radius: $chevrons-radius;
    }

    &:last-child {
      border-bottom-right-radius: $chevrons-radius;
      border-top-right-radius: $chevrons-radius;
      margin-right: 0;
    }
  }
}

.ComparatorChart {
  &Legends {
    left: unset !important;
    top: unset !important;
    margin: 0px 10% -15px 10% !important;
    position: unset !important;
    transform: unset !important;
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }

  &Legend {
    margin: 2px 3px !important;
    color: $text-dark;
  }

  /* Horrible hack to make the ComparatorChart EoL stage segments black.
   * @see src/Views/Comparator.elm#chart
   * @see https://github.com/terezka/elm-charts/issues/101
   */
  .elm-charts__bar[fill="#FF8400"] {
    filter: brightness(0);
  }
}

.DatasetTable {
  .table {
    &.view-list {
      tbody {
        td {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 320px;
          vertical-align: middle;
        }
      }
    }

    th,
    td {
      font-size: 0.9rem;
    }

    th {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.GitbookContent {
  font-size: 0.9rem;

  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.65em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.25em;
  }
  img {
    max-width: 100%;
  }
  .mark {
    padding: 0;
    p {
      display: inline;
    }
  }

  table {
    width: 100%;
    margin-bottom: 1.5em;
    border-radius: 4px;
    border-collapse: collapse;
    overflow: hidden;

    thead {
      background-color: $dark;
      color: $white;

      th {
        padding: 0.5em 0.5em;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #ddd;

        &:nth-child(even) {
          background-color: #f0f0f0;
        }

        td {
          padding: 0.5em 0.5em;
          p {
            margin: 0;
            a {
              p {
                // Note: This is because of two bugs:
                // - Gitbook markdown exposes raw HTML within cells (paragraphs)
                // - elm-markdown transforms all link node children as paragraphs
                display: inline;
              }
            }
          }
        }
      }
    }
  }
}

.Header {
  @media screen and (max-width: $viewport-sm) {
    position: sticky;
    top: 0;
    z-index: 1020;
    padding: 5px 0;
  }
}

.ImpactDefinition {
  p:not(:last-child) {
    margin-bottom: 5px;
  }
}

.ImpactSelector {
  @media screen and (max-width: $viewport-sm) {
    position: fixed;
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1044; // a notch behind mobile navigation overlay

    select,
    button {
      border-radius: 0;
    }
  }
}

.IngredientFormWrapper {
  border-bottom: $list-group-border-width solid $list-group-border-color;
  display: grid;
  grid-gap: 7px 10px;
  grid-template-columns: 116px 1fr 1fr auto 120px 31px;
  grid-template-areas:
    "massInputWrapper ingredientSelector countrySelector bioCheckbox impactDisplay ingredientDelete"
    "transportLabel transportLabel transportDistances transportDistances transportImpact unused";
  padding: $list-group-item-padding-y $list-group-item-padding-x;
  align-items: center;
  .BioCheckbox {
    grid-area: bioCheckbox;
    input {
      margin-right: 5px;
    }
  }
  .CountrySelector {
    grid-area: countrySelector;
  }
  .ImpactDisplay {
    grid-area: impactDisplay;
  }
  .IngredientDelete {
    grid-area: ingredientDelete;
  }
  .IngredientSelector {
    grid-area: ingredientSelector;
  }
  .IngredientTransportLabel {
    grid-area: transportLabel;
  }
  .IngredientTransportDistances {
    grid-area: transportDistances;
  }
  .IngredientTransportImpact {
    grid-area: transportImpact;
  }
  .MassInputWrapper {
    grid-area: massInputWrapper;
    min-width: 90px;
    max-width: 116px;
  }
  @media screen and (max-width: $viewport-md) {
    grid-template-columns: 90px 1fr 70px 31px;
    grid-template-areas:
      "massInputWrapper ingredientSelector impactDisplay impactDisplay"
      "countrySelector countrySelector bioCheckbox ingredientDelete"
      "transportDistances transportDistances transportImpact transportImpact";
    .IngredientTransportLabel {
      display: none;
    }
  }
}

.MainMenu {
  @media screen and (max-width: $viewport-sm) {
    width: 100%;
  }
}

.Markdown {
  h2 {
    border-top: 1px solid #ccc;
    font-size: 1.5em;
    padding: 1em 0 0.5em;
    margin-top: 1em;
  }

  h3 {
    font-size: 1.25em;
    padding: 1em 0 0.5em;
    margin-top: 0.85em;
  }

  blockquote {
    color: $text-dark;
    border-left: 5px solid #ccc;
    font-style: italic;
    padding-left: 0.5em;
  }

  pre {
    background-color: rgb(14, 14, 36);
    border-radius: 8px;
    color: #fff;
    padding: 1em;
  }

  ul, ol {
    margin-bottom: 1em;
  }
}

.Materials {
  .ShareInput {
    flex: 0.5 1 auto;
    max-width: 70px;

    @media screen and (max-width: $viewport-sm) {
      max-width: 50px;
    }
  }

  .SharesTotal {
    width: 125px;
    min-width: 125px;
    max-width: 125px;

    @media screen and (max-width: $viewport-sm) {
      width: 102px;
      min-width: 102px;
      max-width: 102px;
    }
  }
}

.Simulator {
  @media screen and (max-width: $viewport-sm) {
    margin-top: 190px;

    > h1 {
      display: none;
    }
  }
}

.StagingAlert {
  position: fixed;
  background-color: orange;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1030;
  font-size: 90%;
  button {
    font-size: 1em;
  }
}

.NewVersionAlert {
  position: fixed;
  background-color: $success;
  color: $white;
  line-height: 5em;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 1030;
  font-size: 90%;
  button {
    background-color: $white;
    font-size: 1em;
    margin-left: 1em;
    :hover {
      background-color: $primary;
    }
  }
}

.ScoreLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.4em;
  height: 1.4em;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.95);
  line-height: 1em;
  padding: 0.75em !important;

  &A { background-color: $score-letter-A !important }
  &B { background-color: $score-letter-B !important }
  &C { background-color: $score-letter-C !important }
  &D { background-color: $score-letter-D !important }
  &E { background-color: $score-letter-E !important }
}

.Step {
  &Actions {
    margin: -2px 0;
  }

  &Body {
    &.disabled {
      opacity: 0.5;
    }
  }

  &Icon {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 22px;
    height: 22px;
  }
}

.Summary {
  &ProductImage {
    width: 4.35em;
    height: 4.35em;
  }

  @media screen and (max-width: $viewport-sm) {
    position: fixed;
    z-index: 1020;
    top: 54px;
    left: 0;
    right: 0;

    &ProductImage {
      width: 3.2em;
      height: 3.2em;
    }

    .card {
      border: 0;
      .card-header {
        border-radius: 0;
      }
      .card-body {
        padding: 10px;
      }
    }

    .card-header {
      color: red;
    }
  }

  &Score {
    &Funit {
      margin-top: -5px;
    }
  }
}
