@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i2jrdd');
  src:  url('fonts/icomoon.eot?i2jrdd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?i2jrdd') format('truetype'),
    url('fonts/icomoon.woff?i2jrdd') format('woff'),
    url('fonts/icomoon.svg?i2jrdd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-external:before {
  content: "\e908";
}
.icon-zoomin:before {
  content: "\e906";
}
.icon-zoomout:before {
  content: "\e907";
}
.icon-atom:before {
  content: "\e903";
}
.icon-build:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-question:before {
  content: "\f059";
}
.icon-info:before {
  content: "\f05a";
}
.icon-exclamation:before {
  content: "\f06a";
}
.icon-plane:before {
  content: "\f072";
}
.icon-dialog:before {
  content: "\f086";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-mail:before {
  content: "\f0e0";
}
.icon-clipboard:before {
  content: "\f0ea";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-document:before {
  content: "\f15c";
}
.icon-study:before {
  content: "\f19d";
}
.icon-ship:before {
  content: "\f21a";
}
.icon-recycle:before {
  content: "\f1b9";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-lab:before {
  content: "\e900";
}
.icon-leaf:before {
  content: "\e901";
}
.icon-shrink:before {
  content: "\e904";
}
.icon-expand:before {
  content: "\e905";
}
