@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?92a9qn');
  src:  url('fonts/icomoon.eot?92a9qn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?92a9qn') format('truetype'),
    url('fonts/icomoon.woff?92a9qn') format('woff'),
    url('fonts/icomoon.svg?92a9qn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e902";
}
.icon-zoomin:before {
  content: "\e906";
}
.icon-zoomout:before {
  content: "\e907";
}
.icon-atom:before {
  content: "\e903";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-info:before {
  content: "\f05a";
}
.icon-exclamation:before {
  content: "\f06a";
}
.icon-plane:before {
  content: "\f072";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-clipboard:before {
  content: "\f0ea";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-ship:before {
  content: "\f21a";
}
.icon-recycle:before {
  content: "\f1b9";
}
.icon-lab:before {
  content: "\e900";
}
.icon-leaf:before {
  content: "\e901";
}
.icon-shrink:before {
  content: "\e904";
}
.icon-expand:before {
  content: "\e905";
}
