@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bghuha');
  src:  url('fonts/icomoon.eot?bghuha#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bghuha') format('truetype'),
    url('fonts/icomoon.woff?bghuha') format('woff'),
    url('fonts/icomoon.svg?bghuha#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thread:before {
  content: "\e915";
}
.icon-slice:before {
  content: "\e914";
}
.icon-dyeing:before {
  content: "\e90e";
}
.icon-fabric:before {
  content: "\e90f";
}
.icon-making:before {
  content: "\e910";
}
.icon-material:before {
  content: "\e911";
}
.icon-use:before {
  content: "\e912";
}
.icon-external:before {
  content: "\e908";
}
.icon-zoomin:before {
  content: "\e906";
}
.icon-zoomout:before {
  content: "\e907";
}
.icon-atom:before {
  content: "\e903";
}
.icon-train:before {
  content: "\e916";
}
.icon-build:before {
  content: "\e909";
}
.icon-day:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e902";
}
.icon-tshirt:before {
  content: "\e90a";
}
.icon-changelog:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\f067";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-clock:before {
  content: "\f017";
}
.icon-lock:before {
  content: "\f023";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-question:before {
  content: "\f059";
}
.icon-info:before {
  content: "\f05a";
}
.icon-exclamation:before {
  content: "\f06a";
}
.icon-warning:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-stats:before {
  content: "\f080";
}
.icon-dialog:before {
  content: "\f086";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-mail:before {
  content: "\f0e0";
}
.icon-clipboard:before {
  content: "\f0ea";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-document:before {
  content: "\f15c";
}
.icon-study:before {
  content: "\f19d";
}
.icon-help:before {
  content: "\f1cd";
}
.icon-calculator:before {
  content: "\f1ec";
}
.icon-trash:before {
  content: "\f1f8";
}
.icon-ship:before {
  content: "\f21a";
}
.icon-examples:before {
  content: "\f277";
}
.icon-recycle:before {
  content: "\f1b9";
}
.icon-home:before {
  content: "\e90b";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-lab:before {
  content: "\e900";
}
.icon-leaf:before {
  content: "\e901";
}
.icon-shrink:before {
  content: "\e904";
}
.icon-expand:before {
  content: "\e905";
}
.icon-dots-vertical:before {
  content: "\e913";
}
