// Bootstrap colors
$white: #fff;
$body-color: #111;
$dark: #333;
$primary: #075ea2;
$success: #167d2e;
$info: #097182;
$input-border-color: #969696;
$navbar-dark-color: rgba($white, 0.8);
$text-dark: #343a40;
$text-muted: rgb(104, 104, 104);
// Responsive texts
$enable-responsive-font-sizes: true;

// Viewports
$viewport-xs: 320px;
$viewport-sm: 576px;
$viewport-md: 768px;
$viewport-lg: 992px;
$viewport-xl: 1200px;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.md-content {
  h2 {
    border-top: 1px solid #ccc;
    font-size: 1.5em;
    padding: 1em 0 .5em;
    margin-top: 1em;
  }

  blockquote {
    color: $text-dark;
    border-left: 5px solid #ccc;
    font-style: italic;
    padding-left: .5em;
  }

  pre {
    background-color: rgb(14, 14, 36);
    border-radius: 8px;
    color: #fff;
    padding: 1em;
  }
}
